<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task Manager</title>
    <link type="text/css" th:href="@{/css/dash.css}" rel="stylesheet"/>
    <link type="text/css" th:href="@{/css/style.css}" rel="stylesheet"/>
    <link type="text/css" th:href="@{/css/help.css}" rel="stylesheet"/>

    <link rel="icon" type="image/png" th:href="@{/img/fav.png}"/>

    <script th:src="@{/webjars/jquery/3.1.0/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
    <script type="text/javascript" th:src="@{/js/notification.js}"></script>
    <script th:src="@{/webjars/sockjs-client/0.3.4/sockjs.js}"></script>
    <script type="text/javascript" th:src="@{/js/stomp.js}"></script>

</head>

<body onload="notificationController()">
<!--/*@thymesVar id="groups_size" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="tasks_size" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="systemHistory" type="org.taskm.engine.utils.SystemHistory"*/-->
<div th:replace="fragments/header :: header"></div>

<div id="main">
    <div id="main-nav" role="navigation">
        <nav id="widgets">
            <a id="dash-widget" th:href="@{/}"><img th:src="@{/img/dash_1.png}" src=""><span>DASHBOARD</span></a>
            <a id="group-widget" th:href="@{/groups}"><img th:src="@{/img/group.png}" src=""><span>GROUPS</span></a>
            <a id="task-widget" th:href="@{/tasks}"><img th:src="@{/img/task.png}" src=""><span>TASKS</span> </a>
        </nav>
    </div>
    <div id="main-content-outer">
        <div id="main-content">
            <div id="main-content-title">
                <h1 id="title">Dashboard</h1>
            </div>
            <div id="main-content-data">
                <div class="dash-main-modules" id="main-modules">
                    <ul class="dash-1">
                        <li>
                            <div class="dash-1-item">
                                <div class="dash-1-item-header notice">
                                    <img th:src="@{/img/group_1.png}" src="">
                                </div>
                                <div class="dash-1-item-content">

                                    <h3 class="value" th:text="${groups_size}"></h3>
                                    <p class="key">Groups</p>


                                </div>
                                <div class="dash-1-item-footer">
                                    <div class="stats">
                                        <img th:src="@{/img/tag.png}" src="" style="opacity: .8">
                                        <span>Last executed </span>
                                        <span class="stats-data"
                                              th:text="${systemHistory.lastExecutedGroup != null}?${systemHistory.lastExecutedGroup}">N/A</span>
                                        <span class="stats-data"
                                              th:text="${systemHistory.lastExecutedGroup == null}?'N/A'">N/A</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dash-1-item">
                                <div class="dash-1-item-header notice">
                                    <img th:src="@{/img/task_1.png}" src="">
                                </div>
                                <div class="dash-1-item-content">

                                    <h3 class="value" th:text="${tasks_size}"></h3>
                                    <p class="key">Tasks</p>


                                </div>
                                <div class="dash-1-item-footer">
                                    <div class="stats">
                                        <img th:src="@{/img/tag.png}" src="" style="opacity: .8">
                                        <span>Last executed </span>
                                        <span class="stats-data"
                                              th:text="${systemHistory.lastExecutedTask != null}?${systemHistory.lastExecutedTask}">N/A</span>
                                        <span class="stats-data"
                                              th:text="${systemHistory.lastExecutedTask == null}?'N/A'">N/A</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dash-1-item">
                                <div class="dash-1-item-header success">
                                    <img th:src="@{/img/gear.png}" src="">
                                </div>
                                <div class="dash-1-item-content">

                                    <h3 class="value" th:text="${systemHistory.executions}"></h3>
                                    <p class="key">Executions</p>


                                </div>
                                <div class="dash-1-item-footer">
                                    <div class="stats">
                                        <img th:src="@{/img/time.png}" src="">
                                        <span>Last execution </span>
                                        <span class="stats-data"
                                              th:text="${systemHistory.lastExecutionTime != null}?${systemHistory.lastExecutionTime}">--:--:--</span>
                                        <span class="stats-data"
                                              th:text="${systemHistory.lastExecutionTime == null}?'--:--:--'">N/A</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dash-1-item">
                                <div class="dash-1-item-header error">
                                    <img th:src="@{/img/fail.png}" src="">
                                </div>
                                <div class="dash-1-item-content">

                                    <h3 class="value" th:text="${systemHistory.failures}"></h3>
                                    <p class="key">Failures</p>

                                </div>

                                <div class="dash-1-item-footer">
                                    <div class="stats">
                                        <img th:src="@{/img/time.png}" src="">
                                        <span>Last failure </span>
                                        <span class="stats-data"
                                              th:text="${systemHistory.lastFailureTime != null}?${systemHistory.lastFailureTime}">--:--:--</span>
                                        <span class="stats-data"
                                              th:text="${systemHistory.lastFailureTime == null}?'--:--:--'">N/A</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div id="side-modules" class="dash-side-modules">
                    <ul id="notification-list">
                        <li id="no-notifications-footer" class="notification-footer">
                            <span class="no-notifications">No New Notifications</span>
                        </li>
                        <!--<li class="show-notification notice">-->
                            <!--<div class="alert-box alert-box-error">-->
                                <!--<span class="message">Error: Group_1 task_1</span>-->
                                <!--<span class="time">4:50:00 PM</span>-->

                            <!--</div>-->
                            <!--<div class="alert-box-button">-->
                                <!--<button type="button" class="notification-close close"-->
                                        <!--th:onclick="'javascript:closeNotification();'">&times;-->
                                <!--</button>-->
                            <!--</div>-->
                        <!--</li>-->

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div style="clear: both"></div>
</div>
</body>
</html>


<!--<li class="show-notification notice">-->
<!--<div class="notification-content">-->
<!--<div class="notification-content-message">-->
<!--<span class="message">Some text</span>-->
<!--<span class="time">4:14:16 PM</span>-->
<!--<button type="button" class="notification-close close"-->
<!--th:onclick="'javascript:closeNotification();'">&times;</button>-->
<!--</div>-->
<!--</div>-->
<!--</li>-->
<!--<li id="no-notifications-footer" class="notification-footer">-->
<!--<span class="no-notifications">No New Notifications</span>-->
<!--</li>-->
<!--<li class="notification-footer">-->
<!--<span class="notifications-stats">4 Notification(s)</span>-->
<!--</li>-->


<!--<li class="show-notification notice">-->
<!--<div class="alert-box error-b">-->
<!--<span class="message">Failure in Group_1 : task_1</span>-->
<!--<span class="time">4:50:00 PM</span>-->
<!--</div>-->
<!--<div class="alert-box-button">-->
<!--<button type="button" class="notification-close close" th:onclick="'javascript:closeNotification();'">&times;</button>-->
<!--</div>-->
<!--</li>-->
<!--<li class="show-notification notice">-->
<!--<div class="alert-box error-b">-->
<!--<span class="message">Group_1 started</span>-->
<!--<span class="time">4:50:00 PM</span>-->
<!--</div>-->
<!--<div class="alert-box-button">-->
<!--<button type="button" class="notification-close close" onclick="closeNotification('+notificationId+')">&times;</button>-->
<!--</div>-->
<!--</li>-->