<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task Manager</title>
    <link type="text/css" th:href="@{/css/dash.css}" rel="stylesheet"/>
    <link type="text/css" th:href="@{/css/style.css}" rel="stylesheet"/>
    <link type="text/css" th:href="@{/css/help.css}" rel="stylesheet"/>

    <link rel="icon" type="image/png" th:href="@{/img/fav.png}"/>

    <script th:src="@{/webjars/jquery/3.1.0/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
</head>

<body>
<!--/*@thymesVar id="groups_size" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="tasks_size" type="java.lang.Integer"*/-->
<div th:replace="fragments/header :: header"></div>

<div id="main">
    <div id="main-nav" role="navigation">
        <nav id="widgets">
            <a id="dash-widget" th:href="@{/}"><img th:src="@{/img/dash_1.png}" src=""><span>DASHBOARD</span></a>
            <a id="group-widget" th:href="@{/groups}"><img th:src="@{/img/group.png}" src=""><span>GROUPS</span></a>
            <a id="task-widget" th:href="@{/tasks}"><img th:src="@{/img/task.png}" src=""><span>TASKS</span> </a>
        </nav>
    </div>
    <div id="main-content-outer">
        <div id="main-content">
            <div id="main-content-title">
                <h1 id="title">Dashboard</h1>
            </div>
            <div id="main-content-data">
                <div class="dash-main-modules" id="main-modules">
                    <ul class="dash-1">
                        <li>
                            <span class="value" th:text="${groups_size}"></span>
                            <span class="key">Gorups</span>
                        </li>
                        <li>
                            <span class="value" th:text="${tasks_size}"></span>
                            <span class="key">Tasks</span>
                        </li>
                        <li>
                            <span class="value">3</span>
                            <span class="key">Executions</span>
                        </li>
                        <li>
                            <span class="value">4</span>
                            <span class="key">Failures</span>
                        </li>
                    </ul>
                </div>
                <div id="side-modules" class="dash-side-modules"></div>
            </div>
        </div>
    </div>
    <div style="clear: both"></div>
</div>
</body>
</html>