<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task Manager</title>
    <link type="text/css" th:href="@{/css/groups.css}" rel="stylesheet"/>
    <link type="text/css" th:href="@{/css/style.css}" rel="stylesheet"/>
    <link type="text/css" th:href="@{/css/help.css}" rel="stylesheet"/>

    <link rel="icon" type="image/png" th:href="@{/img/fav.png}"/>

    <script th:src="@{/webjars/jquery/3.1.0/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
</head>

<body>
<div th:replace="fragments/header :: header"></div>

<div id="main">

    <!--/*@thymesVar id="group_name" type="java.lang.String"*/-->
    <!--/*@thymesVar id="groups" type="java.util.List<org.taskm.core.task.TaskGroup>"*/-->
    <!--/*@thymesVar id="group" type="org.taskm.core.task.TaskGroup"*/-->
    <!--/*@thymesVar id="selected_group" type="org.taskm.core.task.TaskGroup"*/-->

    <div id="main_nav" role="navigation">
        <nav id="widgets">
            <a id="dash_widget" th:href="@{/}"><img th:src="@{/img/dash.png}" src=""><span>DASHBOARD</span></a>
            <a id="group_widget" th:href="@{/groups/_main}"><img th:src="@{/img/group_1.png}" src=""><span>GROUPS</span></a>
            <a id="task_widget" th:href="@{/tasks}"><img th:src="@{/img/task.png}" src=""><span>TASKS</span> </a>
        </nav>
    </div>
    <div id="main_content_outer">
        <div id="main_content">
            <div id="main_content_title">
                <h1 id="title">Groups</h1>
            </div>
            <div id="main_content_data">


                <div id="main_modules">
                    <h3 id="group_header">All Groups</h3>
                    <ul>

                        <li th:each="group : ${groups}" th:classappend="${group.name eq group_name}?selected">
                            <a th:href="@{'/groups/'+ ${group.name}}">
                                <div class="group_name">
                                    <h4 th:text="${group.name}">Group Name "Test1"</h4>
                                    <span th:text="${#lists.size(group.taskList)}+' tasks'">2 tasks</span>
                                </div>
                                <div class="group_details">
                                    <!--/*@thymesVar id="days" type="java.lang.Integer"*/-->
                                    <span th:classappend="${group.days > 0}?days"
                                          th:text="${group.days > 0}?'+'+${group.days}"></span>
                                    <span th:text="${group.fireTime != 'RUNNING'}?${group.fireTime}">10:40:00 AM</span>
                                    <img th:if="${group.fireTime == 'RUNNING'}" th:src="@{/img/running.gif}">
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div id="side_modules">
                    <div id="side_modules_header">
                        <div id="side_modules_header_info">
                            <h4 th:text="${group_name}">Group_Name</h4>
                        </div>
                        <ul class="header_group_details">
                            <li>
                                <span class="key">Tasks</span>

                                <span class="value" th:text="${#lists.size(selected_group.taskList)}"></span>
                            </li>
                            <li>
                                <span class="key">Executions</span>
                                <span class="value" th:text="${selected_group.executions}"></span>
                            </li>
                            <li>
                                <span class="key">Failures</span><span class="value" th:text="${selected_group.failures}"></span>
                            </li>
                        </ul>
                    </div>
                    <div id="group_tasks">
                        <div id="group_tasks_header">
                            <div class="group_tasks_od">on</div>
                            <div class="group_tasks_task_name">task name</div>
                            <div class="group_tasks_fire_time">last fire time</div>
                            <div class="group_tasks_exec_time">execution time</div>
                            <div class="group_tasks_status">status</div>
                        </div>

                        <div class="task_row" th:each="task,iter  : ${selected_group.taskList}" th:onclick="'javascript:opentask(\''+${group_name}+'/'+${task.methodName}+'\');'">
                            <div class="task_details">
                                <div class="group_tasks_od">
                                    <span class="day" th:text="${iter.index}+1">1</span>
                                </div>
                                <div class="group_tasks_task_name">
                                    <span class="name" th:text="${task.methodName}"></span>
                                </div>
                                <div class="group_tasks_fire_time">
                                    <span th:text="${task.fireTime}">--:--:--</span>
                                    <sup class="days" th:text="${task.days > 0}?'-'+${task.days}"></sup>

                                </div>
                                <div class="group_tasks_exec_time">
                                    <span th:text="${task.executionTime != null}? ${task.executionTime}">--:--:--</span>
                                    <span th:text="${task.executionTime == null}? '--:--:--'">--:--:--</span>
                                </div>
                                <div class="group_tasks_status">
                                    <span th:classappend="${(task.status == 'EXECUTED' ? 'executed' : '') + (task.status == 'FAILED' ? 'failed' : '')}" th:text="${task.status}"></span>
                                </div>
                            </div>
                        </div>

                        <div id="myModal" class="modal">

                            <!-- Modal content -->


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="clear: both"></div>
</div>
</body>
</html>
