<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task Manager</title>
    <link type="text/css" th:href="@{/css/groups.css}" rel="stylesheet"/>
    <link type="text/css" th:href="@{/css/style.css}" rel="stylesheet"/>
    <link type="text/css" th:href="@{/css/help.css}" rel="stylesheet"/>
    <link type="text/css" th:href="@{/css/task-details.css}" rel="stylesheet"/>

    <link rel="icon" type="image/png" th:href="@{/img/fav.png}"/>

    <script th:src="@{/webjars/jquery/3.1.0/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
</head>

<body>
<div th:replace="fragments/header :: header"></div>

<div id="main">

    <!--/*@thymesVar id="first_group_name" type="java.lang.String"*/-->
    <!--/*@thymesVar id="groups" type="java.util.List<org.taskm.core.task.TaskGroup>"*/-->
    <!--/*@thymesVar id="group" type="org.taskm.core.task.TaskGroup"*/-->
    <!--/*@thymesVar id="first_group" type="org.taskm.core.task.TaskGroup"*/-->

    <div id="main-nav" role="navigation">
        <nav id="widgets">
            <a id="dash-widget" th:href="@{/}"><img th:src="@{/img/dash.png}" src=""><span>DASHBOARD</span></a>
            <a id="group-widget" th:href="@{/groups}"><img th:src="@{/img/group_1.png}" src=""><span>GROUPS</span></a>
            <a id="task-widget" th:href="@{/tasks}"><img th:src="@{/img/task.png}" src=""><span>TASKS</span> </a>
        </nav>
    </div>
    <div id="main-content-outer">
        <div id="main-content">
            <div id="main-content-title">
                <h1 id="title">Groups</h1>
            </div>
            <div id="main-content-data">

                <div id="main-modules">
                    <h3 id="main-modules-header">All Groups</h3>
                    <ul>

                        <li th:each="group : ${groups}" th:classappend="${group.name eq first_group_name}?selected"
                            th:id="${group.name}">
                            <div class="li-data" th:onclick="'javascript:openGroupDetails(\''+${group.name}+'\');'">
                                <div class="entity-name">
                                    <h4 th:text="${group.name}">Group Name "Test1"</h4>
                                    <span th:text="${#lists.size(group.taskList)}+' tasks'">2 tasks</span>
                                </div>
                                <div class="entity-details">
                                    <!--/*@thymesVar id="days" type="java.lang.Integer"*/-->
                                    <span th:classappend="${group.days > 0}?days"
                                          th:text="${group.days > 0}?'+'+${group.days}"></span>
                                    <span th:text="${group.fireTime != 'Running'}?${group.fireTime}">10:40:00 AM</span>
                                    <img th:if="${group.fireTime == 'Running'}" th:src="@{/img/running.gif}">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div id="side-modules">

                    <div id="side-modules-header">
                        <div id="side-modules-header-info">

                            <h4 th:text="${first_group_name}">Group_Name</h4>
                        </div>
                        <ul class="header-entity-details">
                            <li>
                                <span class="key">Tasks</span>


                                <span class="value" th:text="${#lists.size(first_group.taskList)}"></span>
                            </li>
                            <li>
                                <span class="key">Executions</span>
                                <span class="value" th:text="${first_group.executions}"></span>
                            </li>
                            <li>
                                <span class="key">Failures</span><span class="value"
                                                                       th:text="${first_group.failures}"></span>
                            </li>
                        </ul>
                    </div>
                    <div id="group-tasks">
                        <div id="group-tasks-header">
                            <div class="group-tasks-od">on</div>
                            <div class="group-tasks-task-name">task name</div>
                            <div class="group-tasks-fire-time">last fire time</div>
                            <div class="group-tasks-exec-time">execution time</div>
                            <div class="group-tasks-status">status</div>
                        </div>

                        <div class="row cursor-pointer" th:each="task,iter  : ${first_group.taskList}"
                             th:onclick="'javascript:openGroupTaskDetails(\''+${first_group_name}+'/'+${task.methodName}+'\');'">
                            <div class="row-data display-table">
                                <div class="group-tasks-od">
                                    <span class="day" th:text="${iter.index}+1">1</span>
                                </div>
                                <div class="group-tasks-task-name">
                                    <span class="name" th:text="${task.methodName}"></span>
                                </div>
                                <div class="group-tasks-fire-time day-indicator">
                                    <span th:text="${task.fireTime}">--:--:--</span>
                                    <sup class="days" th:text="${task.days > 0}?'-'+${task.days}"></sup>

                                </div>
                                <div class="group-tasks-exec-time">
                                    <span th:text="${task.executionTime != null}? ${task.executionTime}">--:--:--</span>
                                    <span th:text="${task.executionTime == null}? '--:--:--'">--:--:--</span>
                                </div>
                                <div class="group-tasks-status status">
                <span th:classappend="${(task.status == 'Executed' ? 'executed' : '') + (task.status == 'Failed' ? 'failed' : '')}"
                      th:text="${task.status}"></span>
                                </div>
                            </div>
                        </div>

                        <div id="modal" class="modal-task-details">

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div style="clear: both"></div>
</div>
</body>
</html>
