<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="header">
<div id="header">

    <div id="header-container">
        <a id="header-logo" th:href="@{/}">
            <img th:src="@{/img/logo.png}" src="">
        </a>
        <a id="header-help" th:href="@{/help}">
            <img th:src="@{/img/help.png}" src="">
        </a>
        <a  id="header-git" href="https://github.com/vladislavmunteanu/task-manager" target="_blank">
            <img th:src="@{/img/git.png}" src="">
        </a>
    </div>
</div>
<!--<div th:replace="fragments/time :: time"></div>-->
</body>
</html>