<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task Manager</title>
    <link type="text/css" th:href="@{/css/tasks.css}" rel="stylesheet"/>
    <link type="text/css" th:href="@{/css/style.css}" rel="stylesheet"/>
    <link type="text/css" th:href="@{/css/help.css}" rel="stylesheet"/>
    <link type="text/css" th:href="@{/css/task-details.css}" rel="stylesheet"/>

    <link rel="icon" type="image/png" th:href="@{/img/fav.png}"/>

    <script th:src="@{/webjars/jquery/3.1.0/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
</head>
<!--/*@thymesVar id="selected_map" type="org.taskm.core.task.TaskMap"*/-->
<!--/*@thymesVar id="task" type="org.taskm.core.task.Task"*/-->
<!--/*@thymesVar id="tasksMap" type="org.taskm.core.task.TaskMap"*/-->
<!--/*@thymesVar id="taskMap_name" type="java.lang.String"*/-->
<!--/*@thymesVar id="value" type="java.lang.Object"*/-->
<!--/*@thymesVar id="key" type="java.lang.Object"*/-->
<!--/*@thymesVar id="methodName" type="java.lang.String"*/-->
<!--/*@thymesVar id="name" type="java.lang.String"*/-->
<!--/*@thymesVar id="days" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="taskParameters" type="java.util.Map"*/-->
<body>
<div th:replace="fragments/header :: header"></div>

<div id="main">
    <div id="main-nav" role="navigation">
        <nav id="widgets">
            <a id="dash-widget" th:href="@{/}"><img th:src="@{/img/dash.png}" src=""><span>DASHBOARD</span></a>
            <a id="group-widget" th:href="@{/groups/_main}"><img th:src="@{/img/group.png}" src=""><span>GROUPS</span></a>
            <a id="task-widget" th:href="@{/tasks/_main}"><img th:src="@{/img/task_1.png}" src=""><span>TASKS</span> </a>
        </nav>
    </div>
    <div id="main-content-outer">
        <div id="main-content">
            <div id="main-content-title">
                <h1 id="title">Tasks</h1>
            </div>
            <div id="main-content-data">
                <div id="main-modules">
                    <h3 id="main-modules-header">All Tasks</h3>
                    <ul>
                        <li th:each="taskMap : ${tasksMap}" th:classappend="${taskMap.key eq taskMap_name}?selected" th:id="${taskMap.key eq taskMap_name}?selected_1">
                            <a th:href="@{'/tasks/'+ ${taskMap.key}}">
                                <div class="entity-name">
                                    <h4 th:text="${taskMap.value.task.methodName}">Task Name "Test1"</h4>
                                    <span th:text="${taskMap.value.taskGroup.name}">Group Name</span>
                                </div>
                                <div class="entity-details">
                                    <span th:classappend="${taskMap.value.taskGroup.days > 0}?days"
                                          th:text="${taskMap.value.taskGroup.days > 0}?'+'+${taskMap.value.taskGroup.days}"></span>
                                    <span th:text="${taskMap.value.taskGroup.fireTime != 'Running'}?${taskMap.value.taskGroup.fireTime}">10:40:00 AM</span>
                                    <img th:if="${taskMap.value.taskGroup.fireTime == 'Running'}" th:src="@{/img/running.gif}">
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div id="side-modules">
                    <div id="side-modules-header">
                        <div id="side-modules-header-info">
                            <h4 th:text="${selected_map.task.methodName}">Task_Name</h4>
                        </div>
                        <ul class="header-entity-details">
                            <li class="header-task-details status">
                                <span class="key">Status</span>
                                <span class="value" th:classappend="${(selected_map.task.status == 'Executed' ? 'executed' : '') + (selected_map.task.status == 'Failed' ? 'failed' : '')}" th:text="${selected_map.task.status}"></span>
                            </li>
                            <li class="header-task-details">
                                <span class="key">Group</span>
                               <a class="value"  th:href="@{'/groups/'+ ${selected_map.taskGroup.name}}"><span th:text="${selected_map.taskGroup.name}"></span></a>
                            </li>
                        </ul>
                    </div>

                    <div id="task-details-content">
                        <div class="row">
                            <div class="row-data task-details-row-data">
                                <div class="task-details-caption task-details-caption-addon">
                                    <span>status</span>
                                </div>
                                <div class="task-details-value task-details-value-addon status">
                    <span th:classappend="${(selected_map.task.status == 'Executed' ? 'executed' : '') + (selected_map.task.status == 'Failed' ? 'failed' : '')}"
                          th:text="${selected_map.task.status}">status</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="row-data task-details-row-data">
                                <div class="task-details-caption task-details-caption-addon">
                                    <span>last fire time</span>
                                </div>
                                <div class="task-details-value task-details-value-addon day-indicator">
                                    <span th:text="${selected_map.task.fireTime}">--:--:--</span>
                                    <sup class="days" th:text="${selected_map.task.days > 0}?'-'+${selected_map.task.days}"></sup>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="row-data task-details-row-data">
                                <div class="task-details-caption task-details-caption-addon">
                                    <span>execution time</span>
                                </div>
                                <div class="task-details-value task-details-value-addon">
                                    <span th:text="${selected_map.task.executionTime != null}? ${selected_map.task.executionTime}">--:--:--</span>
                                    <span th:text="${selected_map.task.executionTime == null}? '--:--:--'">--:--:--</span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="row-data task-details-row-data">
                                <div class="task-details-caption">
                                    <span>parameters</span>
                                </div>
                                <!--/*@thymesVar id="taskParameters" type=""*/-->
                                <div class="task-details-value" th:classappend="${taskParameters.size() == 0}? 'task-details-na' : ''">

                                    <div class="row task-details-parameters-row" th:each="parameter : ${taskParameters}">
                                        <div class="row-data task-details-parameters-row">
                                            <div class="task-details-caption task-details-caption-addon">
                                                <span th:text="${parameter.key}"></span>
                                            </div>
                                            <div class="task-details-value task-details-value-addon">
                                                <span th:text="${parameter.value}"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <span th:text="${taskParameters.size() == 0}? 'N/A'">------</span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="row-data task-details-row-data">
                                <div class="task-details-caption">
                                    <span>error message</span>
                                </div>
                                <div class="task-details-value task-details-error" th:classappend="${selected_map.task.errorMessage == null}? 'task-details-na' : ''">
                                    <span th:text="${selected_map.task.errorMessage != null}? ${selected_map.task.errorMessage}">------</span>
                                    <span th:text="${selected_map.task.errorMessage == null}? 'N/A'">------</span>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div style="clear: both"></div>
</div>
</body>
</html>