<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task Manager</title>
</head>
<body>

<!--/*@thymesVar id="taskMap" type="org.taskm.core.task.TaskMap"*/-->
<!--/*@thymesVar id="taskParameters" type="java.util.Map"*/-->


    <div id="side-modules-header">
        <div id="side-modules-header-info">
            <h4 th:text="${taskMap.task.methodName}">Task_Name</h4>
        </div>
        <ul class="header-entity-details">
            <li class="header-task-details status">
                <span class="key">Status</span>
                <span class="value" th:classappend="${(taskMap.task.status == 'Executed' ? 'executed' : '') + (taskMap.task.status == 'Failed' ? 'failed' : '')}" th:text="${taskMap.task.status}"></span>
            </li>
            <li class="header-task-details">
                <span class="key">Group</span>
                <span class="value" th:text="${taskMap.taskGroup.name}"></span>
            </li>
        </ul>
    </div>

    <div id="task-details-content">
        <div class="row">
            <div class="row-data task-details-row-data">
                <div class="task-details-caption task-details-caption-addon">
                    <span>status</span>
                </div>
                <div class="task-details-value task-details-value-addon status">
                    <span th:classappend="${(taskMap.task.status == 'Executed' ? 'executed' : '') + (taskMap.task.status == 'Failed' ? 'failed' : '')}"
                          th:text="${taskMap.task.status}">status</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="row-data task-details-row-data">
                <div class="task-details-caption task-details-caption-addon">
                    <span>last fire time</span>
                </div>
                <div class="task-details-value task-details-value-addon day-indicator">
                    <span th:text="${taskMap.task.fireTime}">--:--:--</span>
                    <sup class="days" th:text="${taskMap.task.days > 0}?'-'+${taskMap.task.days}"></sup>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="row-data task-details-row-data">
                <div class="task-details-caption task-details-caption-addon">
                    <span>execution time</span>
                </div>
                <div class="task-details-value task-details-value-addon">
                    <span th:text="${taskMap.task.executionTime != null}? ${taskMap.task.executionTime}">--:--:--</span>
                    <span th:text="${taskMap.task.executionTime == null}? '--:--:--'">--:--:--</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="row-data task-details-row-data">
                <div class="task-details-caption">
                    <span>parameters</span>
                </div>
                <!--/*@thymesVar id="taskParameters" type=""*/-->
                <div class="task-details-value" th:classappend="${taskParameters.size() == 0}? 'task-details-na' : ''">

                    <div class="row task-details-parameters-row" th:each="parameter : ${taskParameters}">
                        <div class="row-data task-details-parameters-row">
                            <div class="task-details-caption task-details-caption-addon">
                                <span th:text="${parameter.key}"></span>
                            </div>
                            <div class="task-details-value task-details-value-addon">
                                <span th:text="${parameter.value}"></span>
                            </div>
                        </div>
                    </div>

                    <span th:text="${taskParameters.size() == 0}? 'N/A'">------</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="row-data task-details-row-data">
                <div class="task-details-caption">
                    <span>error message</span>
                </div>
                <div class="task-details-value task-details-error" th:classappend="${taskMap.task.errorMessage == null}? 'task-details-na' : ''">
                    <span th:text="${taskMap.task.errorMessage != null}? ${taskMap.task.errorMessage}">------</span>
                    <span th:text="${taskMap.task.errorMessage == null}? 'N/A'">------</span>
                </div>
            </div>
        </div>
    </div>

</body>
</html>