
#dash-widget{
    background-color: #1C76B6 !important;
}

#dash-widget span{
    color: #fff !important;
}

.dash-main-modules{
    width: 600px !important;
    background: rgba(238, 238, 238, 0.7);
}


.dash-side-modules{
    width: 300px !important;
    background: rgba(238, 238, 238, 0.7);
}

.dash-1{
    float: left;
    width: 100%;
}

.dash-1 li {
    float: left;
    width: 50%;
    position: relative;
    min-height: 1px;
    padding-right: 15px !important;
    padding-left: 15px !important;
    box-sizing: border-box;
    border-bottom: none !important;
    background: none !important;
    box-shadow: none !important;
}

.dash-1 li .dash-1-item{
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 25px 0;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.87);
    background: #fff;
}


.dash-1-item-header{
    float: left;
    text-align: center;
    margin: -20px 15px 0;
    border-radius: 3px;
    padding: 15px;
    width: 56px;
    height: 46px;
}

.dash-1-item-header-orange{
    background: linear-gradient(60deg, #ffa726, #fb8c00);
    box-shadow: 0 12px 20px -10px rgba(255, 152, 0, 0.28), 0 4px 20px 0 rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 152, 0, 0.2);
}

.dash-1-item-header-red{
    background: linear-gradient(60deg, #ef5350, #e53935);
    box-shadow: 0 12px 20px -10px rgba(244, 67, 54, 0.28), 0 4px 20px 0 rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(244, 67, 54, 0.2);
}

.dash-1-item-header-green{
    background: linear-gradient(60deg, #66bb6a, #43a047);
    box-shadow: 0 12px 20px -10px rgba(76, 175, 80, 0.28), 0 4px 20px 0 rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(76, 175, 80, 0.2);
}

.dash-1-item-header img{
    width: 30px;
    height: 30px;
    margin-top: 8px;
}

.dash-1-item-content{
    text-align: right;
    box-sizing: border-box;
    padding: 15px 20px;
}


.dash-1 li .dash-1-item-content p.key {
    font-size: 12px;
    color: #1C76B6;
    font-weight: bold;
    margin: 0;
}


.dash-1 li .dash-1-item-content h3.value {
    color: #9a9a9a !important;
    font-size: 25px;
    font-weight: bold;
    margin: 0;
}

.dash-1-item-footer {
    margin: 0 20px 10px;
    padding-top: 10px;
    border-top: 1px solid #eeeeee;
    box-sizing: border-box;
}

.dash-1-item-footer .stats {
    line-height: 22px;
    color: #999999;
    font-size: 12px;
    display: inline-block;
}

#notification-list{

}

#notification-list li{
    color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    /*background: rgba(251, 140, 0, 0.6);*/
    background-color:rgba(251, 140, 0, 0.6);
    box-shadow: 0 25px 10px -15px rgba(0,0,0,0.05);
    /*animation-name: animScale;*/
    /*animation-duration: 0.25s;*/

}

.show-notification{
    animation-name: anim-scale;
    animation-duration: 0.25s;
}

.hide-notification{
    animation-name: anim-scale-revers;
    animation-duration: 0.25s;
}


@keyframes anim-scale {
    0% { opacity: 0; transform: translate3d(0,40px,0) scale3d(0.1,0.6,1); }
    100% { opacity: 1; transform: translate3d(0,0,0) scale3d(1,1,1); }
}

@keyframes anim-scale-revers {
    0% { opacity: 1; transform: translate3d(0,0,0) scale3d(1,1,1); }
    100% { opacity: 0; transform: translate3d(0,40px,0) scale3d(0.1,0.6,1); }
}

/*http://demos.creative-tim.com/material-dashboard/examples/dashboard.html*/