#group-widget {
    background-color: #1C76B6 !important;
}

#group-widget span {
    color: #fff !important;
}

#group-tasks-header {
    border-bottom: 1px solid #e5e5e5;
    box-sizing: border-box;
    color: #727272;
    display: table;
    font-size: 10px;
    font-weight: bold;
    line-height: 12px;
    padding: 10px;
    table-layout: fixed;
    text-transform: uppercase;
    width: 100%;
}

#group-tasks {
    float: left;
    position: relative;
}

#group-tasks-header div {
    display: table-cell;
    vertical-align: middle;
}

.group-tasks-od {
    min-width: 30px;
    padding-right: 13px;
    width: 7%;
}

.group-tasks-task-name {
    width: 43%;
    padding-right: 13px;
}

.group-tasks-exec-time {
    width: 20%;
    padding-right: 13px;
    text-align: center;
}

.group-tasks-fire-time {
    text-align: center;
    width: 20%;
    padding-right: 13px;
}

.group-tasks-status {
    text-align: center;
    width: 10%;
    padding-right: 13px;
}

.group-tasks-od span.day {
    color: #333;
    display: block;
    font-weight: bold;
    margin-top: 0;
    text-align: left;
    text-transform: uppercase;
}

.group-tasks-task-name span.name {
    box-sizing: border-box;
    color: #333;
    display: block;
    font-weight: bold;
    max-width: 100%;
    position: relative;
}

.group-tasks-status span, .group-tasks-fire-time span, .group-tasks-exec-time span {

    color: #9a9a9a;
    box-sizing: border-box;
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    position: relative;
}

.modal-task-details {
    display: none;
    position: absolute;
    padding: 50px 0 10px 0;
    left: 0;
    top: 0;
    width: 100%;
    overflow: auto;
}