@font-face {
    font-family: 'myCustom';
    src: url('../css/font/nunito.ttf') format('truetype');;
}

html, body, div, span, a, img, header, h1, h4, ul, li{
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}

body{
    font-size: 13px;
    background-color: #f4f4f4;
    font-family: 'myCustom',sans-serif;
}


img{
    vertical-align: middle;
}

a{
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    outline: 0;
}

li{
    list-style: none;
}

/*----HEADER----*/

#header {
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);
    background: #fff none !important;
    filter: none !important;
    height: 70px;
    position: relative;
    border-radius: 0;
    float: none;
    padding: 0;
    width: 100%;
    margin: 0;
}

#header-container {
    height: 70px;
    padding: 0;
    width: 1005px;
    margin: 0 auto;
}

#header-logo{
    height: 45px;
    margin-top: 12px;
    width: auto;
}

#header-git,#header-help{
    height: 40px;
    margin-top: 15px;
    width: auto;
    float: right;
    margin-left: 10px;
}

#header-logo img{
    height: 45px;
}

#header-git img,#header-help img{
    height: 40px;
}

/*----MAIN----*/

#main{
    padding: 0;
    width: 1005px;
    position: relative;
    margin-top: 50px !important;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    /*display: none;*/
}

#main-nav{
    background: transparent;
    position: absolute;
    padding: 0;
    float: left;
    height: 450px;
    z-index: 8000;
}

#widgets{

    transition:opacity linear .4s
}

#widgets a{
    cursor: pointer;
    margin-bottom: 25px;
    background-color: #fff;
    display:block;
    height:85px;
    padding:15px 5px;
    transition:all .2s ease;
    width:85px;
    box-shadow: 1px 1px 3px 0 rgba(46,74,117,0.52);
    box-sizing:border-box;
    border-radius:2px;
    text-align: center;
}

#widgets a:hover{
    box-shadow: 3px 3px 3px 0 rgba(46,74,117,0.52);
    background-color: aliceblue;
    border-radius:3px
}

#widgets a img{
    height: 40px;
}

#widgets a span{
    color: #2D3E4E;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.8px;
}

#main-content-outer{
    border: 0 none;
    border-radius: 5px;
    padding: 0;
    box-sizing: content-box;
    position: relative;
    background-clip: padding-box;
    background: rgba(255, 255, 255, 0.3);
    width: 900px;
    float: right;
    box-shadow: 0 0 6px 2px rgba(51,51,51,0.25);
    margin-bottom: 50px;
}

#main-content{
    background: transparent 50% 49px;
    border: 0 none;
    padding: 0;
}

#main-content-title{
    background-color: #f6f5f7 !important;
    border-bottom: 1px solid #ccc;
    border-radius: 5px 5px 0 0;
    padding: 20px 15px 0;
    position: relative;
    height: 62px;
}

#main-content-title h1{
    float: left;
    font-size: 22px;
    line-height: 26px;
    font-weight: normal;
    margin-top: 7px;
    margin-bottom: 17px;
    color: #1C76B6 !important;

    margin-left: 0;
    padding-bottom: 11px;
    letter-spacing: 0.5px;
}

#main-content-data{
    min-height: 630px;
    position: relative;
    overflow: hidden;
    clear: both;
    background: #fff !important;
    padding: 0;
    display: flex;
}

#main-modules {
    box-sizing: border-box;
    float: left;
    padding: 0;
    position: relative;
    width: 270px;
    border-right: 1px solid #d2d2d2;
    max-height: 673px;
    overflow: scroll;

}

#main-modules ul {
    padding-bottom: 0.5px;
}

#main-modules ul li {
    background-color: #fff;
    border-bottom: 1px solid #d2d2d2;
    box-shadow: 0 1px 0 #fff;
    padding: 5px;
}

#main-modules ul li:hover {
    cursor: pointer;
}

#main-modules ul li.selected {
    background-color: #f5f5f5;
    text-shadow: none;
}

#main-modules ul li .li-data {
    border-radius: 3px;
    display: block;
    padding: 6px;
    color: #666;
}

#main-modules ul li.selected .li-data {
    padding: 6px;
    background: rgb(232, 243, 223) !important;
    border: 1px solid rgb(178, 217, 157);
    border-image: initial;
}

#main-modules ul li .li-data:hover {
    background-color: aliceblue;
}

#main-modules ul li.selected .li-data span {
    color: #2D3E4E;
}

#main-modules-header {
    background-color: #fff;
    border-bottom: 1px solid #d2d2d2;
    margin: 0 !important;
    padding: 15px 10px;
    text-shadow: none !important;
    color: #333;
    font-weight: bold;
    font-size: 16px;
}

#side-modules {
    float: right;
    position: relative;
    width: 630px;
    box-sizing: border-box;
}

#side-modules-header {
    background-color: #fff;
    border-bottom: 1px solid #d2d2d2;
    box-sizing: border-box;
    float: left;
    padding: 20px 15px 0 15px;
    position: relative;
    width: 100%;
}

#side-modules-header-info {
    display: inline-block;
    height: 35px;
    margin-bottom: 20px;
    width: 47%;

}

#side-modules-header-info h4 {
    color: #4c4c4c;
    font-size: 18px;
    font-weight: bold;
    line-height: 21px;
    margin-top: 0;
}

#side-modules-header ul.header-entity-details {
    float: right;
    margin-right: 10px;
}

#side-modules-header ul.header-entity-details li {
    display: inline-block;
    margin-left: 30px;
}

#side-modules-header ul.header-entity-details li span.key {
    font-size: 12px;
    color: #9a9a9a !important;
    display: block;
    text-align: right;
    font-weight: bold

}

#side-modules-header ul.header-entity-details li span.value {

    color: #1C76B6;
    display: inline-block;
    float: right;
    font-size: 16px;
    text-align: right;
}

.row {
    border-bottom: 1px solid #eee;
    padding: 10px 0 10px;
}

.cursor-pointer:hover {
    cursor: pointer;
    background-color: #f7f7f7;
}

.row-data {
    box-sizing: border-box;
    display: table;
    padding: 10px;
    table-layout: fixed;
    width: 100%;
}

.display-table div{
    display: table-cell;
    vertical-align: middle;
}

.status span.failed {
    color: #ef5350 !important;
}

.status span.executed {
    color: #66bb6a !important;
}

.day-indicator sup.days {
    color: #ef5350 !important;
    font-size: 9px;
    margin-left: -3px;
}

.entity-name {
    margin-top: 5px;
    display: inline-block;
    width: 55%;
    text-decoration: none;
}

.entity-name span {
    color: #8f8f8f;
    font-size: 11px;
}

.entity-details {
    float: right;
}

.entity-details span {
    color: #666;
    display: inline-block;
    float: right;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    margin-top: 12px;
    position: relative;
    text-align: right;
}

.entity-details span.days {
    color: red !important;
    font-size: 9px;
    margin-left: -3px;
    float: right;
    display: inline-block;
    position: relative;
    margin-top: 0;
}

.entity-details img {
    display: inline-block;
    height: 30px;
    margin-top: 5.5px;
    margin-right: 15px
}