.task-details {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #d2d2d2;
    width: 85%;
    overflow: auto;
    -webkit-box-shadow: 3px 3px 10px 0 rgba(46, 74, 117, 0.42);
    -moz-box-shadow: 3px 3px 10px 0 rgba(46, 74, 117, 0.42);
    box-shadow: 3px 3px 10px 0 rgba(46, 74, 117, 0.42);
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.task-details-title {
    color: #333;
    display: block;
    font-weight: bold;
    margin-top: 10px;
    text-align: left;
    font-size: 16px;
}

#task-details-header {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #d2d2d2;
    background-color: #f6f5f7
}

#task-details-header-left {
    float: left;
    width: 50px;
    height: 100%;
    margin-left: 10px;
}

#task-details-header-right {
    float: right;
    width: 15px;
    margin-right: 10px;
    height: 100%;
}

#task-details-content {
    float: left;
    position: relative;
}

.task-details-caption {
    color: #727272;
    float: left;
    text-transform: uppercase;
    width: 30%;
    min-width: 30px;
    font-size: 10px;
    font-weight: bold;
    line-height: 12px;
}

.task-details-caption-addon{
    vertical-align: middle;
    table-layout: fixed;
    display: table-cell;
    float: none !important;
}

.task-details-value {
    color: #333;
    float: right;
    text-transform: uppercase;
    width: 60%;
    min-width: 30px;
    font-size: 10px;
    font-weight: bold;
    line-height: 12px;
}

.task-details-value-addon{
    width: 40% !important;
    vertical-align: middle;
    table-layout: fixed;
    display: table-cell;
    float: none !important;
    text-align: right;
}

.task-details-parameters-row {
    padding: 0 !important;
    border-bottom: none !important;
}

.task-details-error {
    text-transform: none !important;
    text-align: left;
    font-size: 11px !important;
    font-weight: normal !important;
}

.task-details-na {
    text-align: right !important;
    font-size: 11px !important;
    font-weight: normal !important;
}