#task-widget{
    background-color: #1C76B6 !important;
}

#task-widget span{
    color: #fff !important;
}

.header-task-details{
    padding-top: 5px;
}


.header-task-details span.key {
    display: inline-block !important;
    margin-right: 7px;
}

.header-task-details span.value {
    font-size: 14px !important;
}

.header-task-details a.value {
    color: #1C76B6;
    display: inline-block;
    float: right;
    font-size: 14px !important;
}

.header-task-details a.value:hover{
    color: #2D3E4E !important;
}

.task-details-row-data{
    padding-left: 15px !important;
    padding-right: 25px !important;
}