#task-widget{
    background-color: #1C76B6 !important;
}

#task-widget span{
    color: #fff !important;
}


.group-name {
    margin-top: 5px;
    display: inline-block;
    width: 55%;
    text-decoration: none;
}

.group-name span {
    color: #8f8f8f;
    font-size: 11px;
}